<!DOCTYPE html>
<html>
  <head>
    <title>TestRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag 'https://unpkg.com/vue@2.5.16/dist/vue.js' %>
  </body>
</html>
